
 @font-face {
    font-family: Affogato-Bold;
    src: url(Affogato-Bold.otf);

}






.saturn {
    
    /* 
     * Make the initial position to be the center of the circle you want this
     * object follow.
     */


    /*
     * Sets up the animation duration, timing-function (or easing)
     * and iteration-count. Ensure you use the appropriate vendor-specific 
     * prefixes as well as the official syntax for now. Remember, tools like 
     * CSS Please are your friends!
     */
    -webkit-animation: myOrbit 30s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 30s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 30s linear infinite; /* Opera 12+ */
            animation: myOrbit 30s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
    
    
    
}



.mars {
    
    /* 
     * Make the initial position to be the center of the circle you want this
     * object follow.
     */


    /*
     * Sets up the animation duration, timing-function (or easing)
     * and iteration-count. Ensure you use the appropriate vendor-specific 
     * prefixes as well as the official syntax for now. Remember, tools like 
     * CSS Please are your friends!
     */
    -webkit-animation: myMars 20s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myMarst 20s linear infinite; /* Firefox 5-15 */
         -o-animation: myMars 20s linear infinite; /* Opera 12+ */
            animation: myMars 20s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
    
    
    
}

/*
 * Set up the keyframes to actually describe the begining and end states of 
 * the animation.  The browser will interpolate all the frames between these 
 * points.  Again, remember your vendor-specific prefixes for now!
 */
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(3em) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(3em) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(3em) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(3em) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(3em) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(3em) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(3em) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(3em) rotate(-360deg); }
}






@-webkit-keyframes myMars {
    from { -webkit-transform: rotate(0deg) translateX(2em) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(2em) rotate(-360deg); }
}

@-moz-keyframes myMars {
    from { -moz-transform: rotate(0deg) translateX(2em) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(2em) rotate(-360deg); }
}

@-o-keyframes myMars {
    from { -o-transform: rotate(0deg) translateX(2em) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(2em) rotate(-360deg); }
}

@keyframes myMars {
    from { transform: rotate(0deg) translateX(2em) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(2em) rotate(-360deg); }
}















.wrap-1, .wrap-2, .wrap-3{

 
position: absolute;
     transform-origin: center;
   
    
    
}






.wrap-2{
}

.wrap-3{
  transform: translateX(0px);
    
    
}

.box-1 {
  border-radius: 50%;
   
  height: 1em;
    width: 1em;
    background: black;
    cursor: pointer;
   
    transform-origin: center;
    transform: scale(3);
   
     box-shadow: 2px solid
   
}

.box-2 {
    

  border-radius: 50%;

  height: 1em;
     width: 1em;
  background: #FF0057;
   
    cursor: pointer;
      transform: scale(0.8);
  
   
}

.box-3 {
  border-radius: 50%;
 height: 1em;
     width: 1em;
 background: red;
   cursor: pointer;
      transform: scale(0.6);
   
}

.wrap-1, .wrap-2, .wrap-3{
         transition: all 300ms;
}
  
  .planetarium:hover >.wrap-1{
    transform: scale(1); 
}
.planetarium:hover >.wrap-2{
     transform: scale(0.8);
    
}

.planetarium:hover >.wrap-3{
     transform: scale(0.6);
    
}

.planetarium{
    
    padding-top: 3em;
    padding-right: 6em;
    float: right;
}








a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li,
main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot,
th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline

}



.navigation{
    display: block;
    float: right;
    width:100%;
    clear: both;
    
}





html{
    height: 100%;
        

}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}



* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

:after, :before {
    box-sizing: inherit
}

html {
    font-size: 12px
}

html::-webkit-scrollbar {
    display: none
}



body {
    background-color: white;
	
}

.main {
    margin: 0 auto;
    max-width: 1280px;
    display: block;
   
    
}

.main__content {
    margin-bottom: 20px
}

.break {
    display: none
}











section {
	max-width: 450px;
	margin: 2rem auto;
	padding-left: 2rem;}
	

	div {
		
		word-wrap: break-word;
	
		line-height: 24px;}
		
   section:after {
      content: "";
      display: table;
      clear: both;
    
	
}

.clear {clear: both}
.from-me {
	position:relative;
	padding:10px 20px;
	color:white; 
	background:#0B93F6;
	border-radius:25px;
	float: right;
    

}
		
	.from-me:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	.from-me:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}

.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
  float: left;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}



		
	.from-them:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	.from-them:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}

.date{
	    font-family: 'San Francisco', Helvetica, Arial, san-serif;
	font-size: 0.9rem;
	color: darkgrey;
	clear: both;

}




.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: black;
    overflow-y: hidden;
    transition: 0.5s;
	font-family:Affogato-Bold;
    text-transform: uppercase;
    
    max-width: none;
}




.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    height: 100%;
    text-align: center;
  vertical-align: center;
    
}

.overlay a {
    padding: 0.5em;
    text-decoration: none;
    font-size: 10em;
    color: white;

    display: block;
    transition: 0.6s;
    
}

.overlay a:hover, .overlay a:focus {
    color: red;
}








.overlay .closebtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 60px;
    float: right;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}





section {
  /*overflow: hidden;*/
  width: 60em;
  margin: 0 auto;
}

p {
  margin: 0;
}

.cover {
 
  color: white;
  width: 40%;
  margin: 0;
  padding: 1% 7% 1% 10%;
  float: left;
  margin-right: 2em;
  display: block;
 /* box-shadow: 0em 0em 5em rgba(10,10,10,0.7); */
}

.stack {

  text-transform: uppercase;
  font-size: 1em;
  line-height: 0.7em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}


span {
position: relative;
  

}

/* B */
.char1 {
  margin-left: -.2em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* L */
.char2 {
 z-index: 1; 

    left: 0.2em;
  top: 0.em;
    bottom:0.6em;
    text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

/* O */
.char3 {
  z-index: -9;
left: 0.4em;
    bottom: 1.2em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

/* G */
.char4 {
  z-index: -9;
left: 0.9em;
    bottom: 2em;
  text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);

    
}



body {

	font-size: 18px;
	
}












@media (min-width:768px) {
    

}




@media (max-width:480px) {
    
    /* B */
.char1 {
  margin-left: -.2em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* L */
.char2 {
 z-index: 1; 

    left: -0.12em;
  top: -0.05em;
    bottom:0.3em;
    text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

/* O */
.char3 {
  z-index: -9;
left: 0.em;
    bottom: 0.5em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

/* G */
.char4 {
  z-index: -9;
left: 0.8em;
    bottom: 1.4em;
  text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);
}

    

    
    
    
    
    
    
    
    
}
























