
 @font-face {
    font-family: Affogato-Bold;
    src: url(Affogato-Bold.otf);

}





























.wrap-1, .wrap-2, .wrap-3{
     float: right;
    max-width: none;
   
    
    
}


.wrap-1{
   padding-right: 2rem; 
}


.wrap-2{
  transform: translateX(40px);

    
}

.wrap-3{
  transform: translateX(80px);

    
}

.box-1 {
  border-radius: 50%;
  height: 40px;
  margin: 2rem auto;
    background: black;
  width: 40px;
    cursor: pointer;
   
}

.box-2 {
  border-radius: 50%;
  height: 40px;
  margin: 2rem auto;
    background: black;
  
  width: 40px;
    cursor: pointer;
   
}

.box-3 {
  border-radius: 50%;
  height: 40px;
  margin: 2rem auto;
    background: black;
  
  width: 40px;
    cursor: pointer;
   
}

.wrap-1, .wrap-2, .wrap-3{
         transition: all 300ms;
}
  
  .planetarium:hover >.wrap-1{
    transform: scale(1); 
}
.planetarium:hover >.wrap-2{
     transform: scale(0.8);
    
}

.planetarium:hover >.wrap-3{
     transform: scale(0.6);
    
}









a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li,
main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot,
th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}



html{
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}



* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

:after, :before {
    box-sizing: inherit
}

html {
    font-size: 12px
}

html::-webkit-scrollbar {
    display: none
}

@media (min-width:480px) {
   
}

body {
    background-color: white;
	
}

.main {
    margin: 0 auto;
    max-width: 1280px;
    padding: 1.5rem 1rem 1rem;
    text-transform: uppercase
}

.main__content {
    margin-bottom: 20px
}

.break {
    display: none
}

@media (min-width:768px) {
}

@media (min-width:768px) {
}



@media (min-width:480px) {
}

@media (min-width:480px) {
}














body {
	font-family: "Helvetica Neue";
	font-size: 18px;
	font-weight: normal;
}

section {
	max-width: 450px;
	margin: 2rem auto;
	padding-left: 2rem;}
	

	div {
		
		word-wrap: break-word;
	
		line-height: 24px;}
		
   section:after {
      content: "";
      display: table;
      clear: both;
    
	
}

.clear {clear: both}
.from-me {
	position:relative;
	padding:10px 20px;
	color:white; 
	background:#0B93F6;
	border-radius:25px;
	float: right;}
		
	.from-me:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	.from-me:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}

.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
  float: left;
}
		
	.from-them:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	.from-them:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}

.date{
	
	font-size: 0.9rem;
	color: darkgrey;
	clear: both;

}




.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: black;
    overflow-y: hidden;
    transition: 0.5s;
	font-family:Affogato-Bold;
    text-transform: uppercase;
    
    max-width: none;
}




.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    height: 100%;
    text-align: center;
  vertical-align: center;
    
}

.overlay a {
    padding: 0.5em;
    text-decoration: none;
    font-size: 10em;
    color: white;

    display: block;
    transition: 0.6s;
    
}

.overlay a:hover, .overlay a:focus {
    color: grey;
}

.overlay .closebtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 60px;
    float: right;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




























box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Web Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);



section {
  /*overflow: hidden;*/
  width: 60em;
  margin: 0 auto;
}

p {
  margin: 0;
}

.cover {
 
  color: white;
  width: 40%;
  margin: 0;
  padding: 1% 7% 1% 10%;
  float: left;
  margin-right: 2em;
  display: block;
 /* box-shadow: 0em 0em 5em rgba(10,10,10,0.7); */
}

.stack {

  text-transform: uppercase;
  font-size: 1em;
  line-height: 0.7em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}


span {
position: relative;
  

}

/* B */
.char1 {
  margin-left: -.2em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* L */
.char2 {
 z-index: 1; 

    left: 0.2em;
  top: 0.em;
    bottom:0.6em;
    text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

/* O */
.char3 {
  z-index: -9;
left: 0.4em;
    bottom: 1.2em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

/* G */
.char4 {
  z-index: -9;
left: 0.9em;
    bottom: 2em;
  text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);
}





